* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

:root{
    --primary-color:#323540;
    --secondary-color:#92c9ca;
}

body {
    padding: 0;
    line-height: 1.5;
}

/* Styling for header */
.nav {
    background-color:var(--primary-color);
    padding:10px;
    display:flex;
    justify-content:space-evenly;
}

.navbar {
    width: 75%;
    height:50px;
    display:flex;
    justify-content: right;
    align-items:center;
}

.logo {
    display:inline-block;
    width:25%;
    text-align:right;
    height:50px;
    text-decoration:none;
    color:var(--primary-color);
    background-color: var(--secondary-color);
    font-size: 30px;
    font-weight: 700;
}

.navbar a {
    text-decoration:none;
    color:var(--secondary-color);
    margin-right:30px;
    border-bottom: 2px solid;
    border-color:var(--secondary-color);
}

.hero-bg {
    height:250px;
    width:100%;
    object-fit:cover;
    filter: sepia(60%) saturate(250%) brightness(60%) hue-rotate(160deg);
}
.hero-banner h2 {
    display:inline;
    padding: 10px;
    position: relative;
    bottom:70px;
    right:-60%;
    background-color: var(--secondary-color);
}

h3 {
    font-size:3em;
    color:var(--primary-color);
    text-align:right;
    padding-right:10px;
}

.page-section {
    display:grid;
    grid-template-columns: 25% 75%;
    margin-bottom:20px;
    /* grid-template-areas:
    'left right'
    'left right'; */
}

.right-about {
    border-left: 3px solid;
    border-left-color: var(--primary-color);
    padding: 0 50px 0 20px;
    text-align:justify
}

.right-work {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 140px 140px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    border-left: 3px solid;
    border-left-color: var(--primary-color);
    padding: 0 50px 0 20px;
}

.projects {
    border: 3px solid;
    border-color: var(--secondary-color);
}

.text {
    display:block;
    background:var(--secondary-color);
    position: relative;
    top:50%;
 
}

.text h4 {
    font-size: 1.2em;
}

.text p {
    font-size: 0.8em;
}

#surf {
    grid-area: 1 / 1 / 2 / 3;
    background-color: red;
    background-image: url("../images/02-portfolio-4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#led {
    grid-area: 2 / 1 / 3 / 2;
    background-color: red;
    background-image: url("../images/02-portfolio-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

#calculator {
    grid-area: 2 / 2 / 3 / 3;
    background-color: red;
    background-image: url("../images/02-portfolio-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

#pastel {
    grid-area: 3 / 1 / 4 / 2;
    background-color: red;
    background-image: url("../images/02-portfolio-3.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

#run {
    grid-area: 3 / 2 / 4 / 3;
    background-color: red;
    background-image: url("../images/02-run-buddy.jpg");
    background-repeat: no-repeat;
    background-position: center;
}