* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

:root{
    --primary-color:#323540;
    --secondary-color:#92c9ca;
}

body {
    padding: 0;
    line-height: 1.5;
}

/* Styling for header */
.nav {
    background-color:var(--primary-color);
    padding:10px;
    display:flex;
    justify-content:space-evenly;
}

.navbar {
    width: 75%;
    height:50px;
    display:flex;
    justify-content: right;
    align-items:center;
}

.logo {
    display:inline-block;
    width:25%;
    text-align:right;
    height:50px;
    text-decoration:none;
    color:var(--primary-color);
    background-color: var(--secondary-color);
    font-size: 30px;
    font-weight: 700;
}

.navbar a {
    text-decoration:none;
    color:var(--secondary-color);
    margin-right:30px;
    border-bottom: 2px solid;
    border-color:var(--secondary-color);
}

.hero-bg {
    height:250px;
    width:100%;
    object-fit:cover;
    filter: sepia(60%) saturate(250%) brightness(60%) hue-rotate(160deg);
}
.hero-banner h2 {
    display:inline;
    padding: 10px;
    position: relative;
    bottom:70px;
    right:-60%;
    background-color: var(--secondary-color);
}

h3 {
    font-size:30px;
    color:var(--primary-color);
}

.page-section .right{
    border-left: 3px solid;
    border-left-color: var(--primary-color);
    padding-left:20px;
}
.page-section {
    display:grid;
    grid-template-columns: 25% 75%;
    /* grid-template-areas:
    'left right'
    'left right'; */
}
/* 
.page-wrapper {
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:10px;
    grid-auto-rows:minmax(100px,auto);
}

.page-section #about .first h3 {
    grid-column:1;
    grid-row:1;
} */

