* {
  box-sizing: border-box;

}

:root{
    --primary-color:#323540;
    --secondary-color:#92c9ca;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
}

.nav {
    background-color:var(--primary-color);
    padding:10px;
    display:flex;
    justify-content:space-evenly;
}

.navbar {
    width: 75%;
    height:50px;
    display:flex;
    justify-content: right;
    align-items:center;
}

.logo {
    display:inline-block;
    width:25%;
    text-align:right;
    height:50px;
    text-decoration:none;
    color:var(--primary-color);
    background-color: var(--secondary-color);
    font-size: 30px;
    font-weight: 700;
}

.navbar a {
    text-decoration:none;
    color:var(--secondary-color);
    margin-right:30px;
    border-bottom: 2px solid;
    border-color:var(--secondary-color);
}

/* .hero-banner {
    background-color: white;
    height:230px;
    background-image:url("../images/02-hero-bg.jpg");
    background-repeat: no-repeat;
    background-position:center;
    }

.hero-banner h2 {
    position:relative;
    bottom:-180px;
    right:-500px;

} */